<%- include('../partials/title.ejs') %>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include('../partials/header.ejs') %>
  <main class="text-start px-3 w-50">
    <form class="row g-3" action="/employee/add-employees/update" method="POST">
      <input
        name="id"
        class="mx-2 form-control-plaintext text-dark"
        value="<%= id %>"
        readonly
      />
      <div class="col-md-6">
        <label for="firstname" class="form-label">ชื่อ</label>
        <input
          name="firstname"
          type="text"
          class="form-control"
          id="firstname"
          placeholder="ชื่อ"
          value="<%= firstname %>"
        />
      </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">นามสกุล</label>
        <input
          name="lastname"
          type="text"
          class="form-control"
          id="lastname"
          placeholder="นามสกุล"
          value="<%= lastname %>"
        />
      </div>
      <div class="col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="male"
          value="ชาย" <% if(gender === "ชาย"){ %> checked <% } %> >
          <label class="form-check-label" for="male">ชาย</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="female"
          value="หญิง" <% if(gender === "หญิง"){ %> checked <% } %> >
          <label class="form-check-label" for="female">หญิง</label>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputtel" class="form-label">เบอร์โทรติดต่อ</label>
        <input
          name="number"
          type="tel"
          class="form-control w-75"
          id="inputtel"
          placeholder="เบอร์โทร"
          value="<%= number %>"
        />
      </div>
      <div class="col-md-6">
        <label for="inputemail" class="form-label">อีเมล</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="inputemail"
          placeholder="อีเมล"
          value="<%= email %>"
        />
      </div>
      <div class="col-md-6">
        <label for="inputemail" class="form-label">เลขบัตรประชาชน</label>
        <input
          name="id_card"
          type="text"
          class="form-control"
          id="inputemail"
          placeholder="เลขบัตรประชาชน"
          value="<%= id_card %>"
        />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">ที่อยู่</label>
        <textarea
          name="address"
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="ที่อยู่"
          style="height: 100px"
          required
        >
<%= address %></textarea
        >
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">ยืนยัน</button>
        <a href="/employee" class="btn btn-primary">ยกเลิก</a>
      </div>
    </form>
  </main>
</div>
